{# @var friends \AppBundle\Entity\User[] #}

{% extends 'base.html.twig' %}

{% block main %}

        <section class="find-friends-user" csrf_token="{{ csrfToken }}">
            {% for friend in friends %}

                <div id="{{ friend.id }}">
                    <div>
                        <img src="uploads/profileImages/{{ friend.profileImage }}" style="width: 350px" />
                    </div>
                    <p>Email: {{ friend.email }}</p>
                    <div>
                        <button id="{{ friend.id }}" class="add_suggestion">Add</button>
                    </div>
                </div>

            {% endfor %}

            <button id="show_more">show more</button>
        </section>


{% endblock %}

{% block stylesheets %}

    {{ parent() }}

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('js/findFriends.js') }}"></script>

{% endblock %}

