{# @var suggestions \AppBundle\Entity\Suggestion[] #}

{% extends 'base.html.twig' %}

{% block main %}

        <section class="find-friends-user" csrf_token="{{ csrfToken }}">
            {% for suggestion in suggestions %}

                <div id="{{ suggestion.id }}">
                    <div>
                        <img src="uploads/profileImages/{{ suggestion.profileImage }}" style="width: 350px" />
                    </div>
                    <p>Email: {{ suggestion.email }}</p>
                    <div>
                        <button id="{{ suggestion.id }}" class="accept_suggestion">Accept</button>
                        <button id="{{ suggestion.id }}" class="deny_suggestion">Deny</button>
                    </div>
                </div>

            {% endfor %}
        </section>

{% endblock %}

{% block stylesheets %}

    {{ parent() }}

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('js/acceptSuggestion.js') }}"></script>

{% endblock %}
