{# @var suggestions \AppBundle\Entity\Suggestion[] #}

{% extends 'base.html.twig' %}

{% block main %}

        <section class="find-friends-user" csrf_token="{{ csrfToken }}">
            {% for key, value in suggestions %}

                <div sendUser="{{ value.0 }}">
                    <div>
                        <img src="uploads/profileImages/{{ value.3 }}" style="width: 350px" />
                    </div>
                    <p>Name: {{ value.2 }}</p>
                    <div>
                        <button class="accept_suggestion" id="{{ value.0 }}">Accept</button>
                        <button class="deny_suggestion" id="{{ value.0 }}">Deny</button>
                    </div>
                </div>

            {% endfor %}
        </section>

{% endblock %}

{% block stylesheets %}

    {{ parent() }}

{% endblock %}

{% block javascripts %}

    {{ parent() }}
    <script src="{{ asset('js/acceptSuggestion.js') }}"></script>

{% endblock %}
