{% extends 'base.html.twig' %}

{% block main %}

        <div>
            <img src="uploads/profileImages/{{ user.profileImage }}" style="width: 350px" />
        </div>
        <div>
            <p>First Name: {{ user.firstName }}</p>
            <p>Last Name: {{ user.lastName }}</p>
            <p>Birth Day: {{ user.birthDate.format('Y-m-d') }}</p>
            <p>Phone: {{ user.phone }}</p>
            <p>Email: {{ user.email }}</p>
        </div>

{% endblock %}

{% block stylesheets %}

    {{ parent() }}

{% endblock %}

{% block javascripts %}

    {{ parent() }}

{% endblock %}

