<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
            <link href="{{ asset('node_modules/toastr/build/toastr.css') }}" rel="stylesheet" />
            <link rel="stylesheet" href="{{ asset('node_modules/easy-autocomplete/dist/easy-autocomplete.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/common.css') }}">
            <link rel="stylesheet" href="{{ asset('css/header.css') }}">

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header %}
            <header>
                {% if app.user %}
                    <div class="col-sm-23 my-1  ">
                        <label class="sr-only" for="search_friends">search_friends</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fas fa-search"></i></div>
                            </div>
                            <input type="text" placeholder=" Search friends" id="search_friends">
                        </div>
                    </div>
                    <a href="{{ path('home') }}">Home</a>
                    <a href="{{ path('article_add') }}">Add Article</a>
                    <a href="{{ path('user_profile') }}">Profile</a>
{#                    <a href="{{ path('user_friends') }}">Find Friends</a>#}
                    <a href="{{ path('message') }}">Messages</a>
                    <a href="{{ path('suggestions_my_suggestions') }}">Suggestions</a>
                    <a href="{{ path('security_logout') }}">Logout</a>
                {% else %}
                    <a href="{{ path('user_register') }}">Sign up </a>
                    <a href="{{ path('security_login') }}"> Sign in </a>
                {% endif %}
            </header>
        {% endblock %}
        <main>
            {% block main %}{% endblock %}
            {% block aside %}{% endblock %}
        </main>
        {% block footer %}{% endblock %}
        {% block javascripts %}

            <script src="{{ asset('node_modules/jquery/dist/jquery.js') }}"></script>
            <script src="{{ asset('node_modules/handlebars/dist/handlebars.js') }}"></script>
            <script src="{{ asset('node_modules/toastr/build/toastr.min.js') }}"></script>
            <script src="{{ asset('node_modules/sweetalert/dist/sweetalert.min.js') }}"></script>
            <script src="{{ asset('node_modules/easy-autocomplete/dist/jquery.easy-autocomplete.min.js') }}"></script>
            <script src="{{ asset('js/common.js') }}"></script>

        {% endblock %}
    </body>
</html>
