<div id="{{ id }}">
    <div>
        <img src="uploads/profileImages/{{ profile_image }}" style="width: 350px" />
    </div>
    <p>Name: {{ full_name }}</p>
    <div>
        <button id="{{ id }}" class="accept_suggestion">Accept</button>
        <button id="{{ id }}" class="deny_suggestion">Deny</button>
    </div>
</div>